{% extends "base.html" %}

{% block content %}
  <img class="intro_pic" src="{{url_for('static', filename='img/banner/Akupunktur.png')}}" />
   <div class= "title-therapie">
       <h1>Auf den Punkt gebracht</h1>
       <p class="subtitle-therapie"><h4>Akupunktur</h4></p>
   </div>

   <div class= 'container-Schulmedizin'>
       <div class= "intro-therapie">
               <p>Meine Akupunkturausbildung  absolvierte ich bei der Ärztegesellschaft für Medizin ohne Nebenwirkungen in München.</p>
       </div>
       <div class= "p-left">
               <p class= 'therapie-coloum'>
                  Ötzi litt an Rückenschmerzen und den Folgen von Kälte - dies ergaben Forschungen an dem Mann aus dem Eis. 
                  Sie zeigen, dass bereits vor 5000 Jahren in Europa akupunktiert wurde. Die ältesten Funde, die auf Akupunktur
                  in China hinweisen, sind 2500 Jahre alt. Dort wurde mit Körperakupunktur behandelt und durch ein ganzes System
                  von Empfehlungen zur Ernährung und Lebenswandel bereichert, basierend auf Beobachtungen an der Natur. Wir kennen
                  diese Methode unter dem Begriff Traditionelle Chinesische Medizin (TCM). In den 50iger Jahren fand Dr. Nogier aus
                  Frankreich, dass alle Akupunkturpunkte der Meridiane am Körper auch am Ohr zu wiederzufinden sind und entwickelte
                  systematisch die Ohrakupunktur (Auriculomedizin). <br>
                  Beider Methoden, der Körper- und Ohrakupunktur bedienen wir uns in Trippstadt seit meiner Niederlassung 1994.
                  Zum exakten Auffinden der Akupunkturpunkte verwenden wir den Nogierreflex oder Reflex auriculocardiac (RAC),
                  einer vegetativ bedingten kurzen Änderung des Pulses, die am Arm, Hals oder Stirn gut getastet werden kann.
               </p>
       </div>
       <div class= "p-right">
               <p class= 'therapie-coloum'>
                 „An jedem Zahn hängt ein Organ“- eine weitere wichtige Grundlage zur Auswahl der Akupunkturpunkte bilden die
                 Zahnkorrespondenzpunkte. Wissen wir also, welche Zähne erkrankt sind, können wir die zugeordneten Akupunkturpunkte
                 behandeln und damit sehr gezielt und effektiv Schmerzen wie chronische  Rückenschmerzen, chronische
                 Knieschmerzen, Dreimonatskoliken, Zahnungsbeschwerden, Hauterkrankungen, Allergie, Infektanfälligkeit,
                 Konzentrationsstörungen, psychische Beschwerden behandeln. Solche Akupunktur eliminiert Störherde, löst Blockaden,
                 das „Chi“, die Lebensenergie, kann fließen und  das energetische Niveau des Patienten steigt.
                 <br>
                 Bei erwachsenen Patienten verwenden wir meistens ganz traditionell Nadeln, bei Kindern bevorzugen wir die absolut
                 schmerzfreie Laserakupunktur.
               </p>
       </div>
{% endblock %}
